$transition-duration: 0.2s;
$transition-cubic-bezier: cubic-bezier(0.785, 0.135, 0.15, 1);
$transition-bounce: cubic-bezier(.47,1.64,.41,.8);

$font-family-primary: 'IBM Plex Sans', sans-serif;

$breakpoints: (
  'xxs': 360px,
  'xs': 460px,
  'sm': 568px,
  'md': 740px,
  'lg': 960px,
  'hd': 1079px,
  'xl': 1024px,
  'xxl': 1280px,
  'HD': 1365px,
  'FullHD': 1919px,
  '2k': 2559px,
  '4k': 3839px
)
