.cursor {
  width: 1px;
  height: 1px;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
  &__view {
    width: 19px;
    height: 19px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    border: 1px solid var(--root-color-accent);
    color: var(--root-color-bg);
    transition: all $transition-duration ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__text {
    font-size: 1.2em;
    font-weight: 500;
  }
  
  &__icon {
    svg {
      transition: transform 0.25s ease;
    }
    &[data-icon="arrowLeft"] svg {
      transform: rotate(-180deg);
    }
  }
  
  &--blend-none &__view {
    background-color: var(--root-color-accent);
  }

  &--hover[data-size="md"]:not(&--hidden) &__view {
    width: 10.5em;
    height: 10.5em;
  }
  &--hover[data-size="sm"]:not(&--hidden) &__view {
    width: 8em;
    height: 8em;
  }
  &--hover[data-size="xs"]:not(&--hidden) &__view {
    width: 5em;
    height: 5em;
  }
  &--hover[data-size="xxs"]:not(&--hidden) &__view {
    width: 3.5em;
    height: 3.5em;
  }
  &--hidden &__view {
    transform: translate(-50%, -50%) scale(0);
  }
  &--click:not(&--hidden) &__view {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.cursor-area * {
  //cursor: none!important;
}
